@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body { 
  font-family: 'Playfair Display', serif; 
  letter-spacing: 2px;
  word-spacing: 2px;
  overflow-x: hidden;
 
}
a{
  text-decoration: none;
}

html{
  overflow-x: hidden;
}
/* ------------navbar css------------------ */
img {
  width: 100%;
}

/* HEADER CSS STARTED */
.iconsop a {
  margin: 0;
}

#logo.img {
  width: 100px;
  height: 100px;
}

.navbar-section {
  margin-bottom: 50px;
}



.brand {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

.main-navbar .burger-menu {
  font-size: 2rem;
  
}



.navbar-nav {
  margin-right: auto;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #000 !important;
  font-size: 1.2em;
}

.navbar-2-links {
  margin-left: auto;
}

.navbar-2-links a {
  font-size: 1.6rem;
}
.iconsop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.nav-link{
  padding: 0!important;
  margin: 0 1rem;
  font-size: 0.9em;
}


.icons {
  justify-content: space-between;
}
ul {
  list-style: none;
  padding: 0;
}

nav.navbar.navbar-expand-md.navbar-light{
  padding: 0;
}

ul.navbar-nav.ml-auto{
  margin-left: 0!important;
  
}

.navbar img {
  width: 100px;
  height: auto;
}


/* CUSTOM MODAL CSS */
/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal2{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 27%;
  margin-right: 0;
}
.modal-content2{
  transition: 1s;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  margin-right: 100%;
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width:700px) {
  .modal-content2{
    width: 50%;
  }
}

@media (max-width: 767px) {
  .modal-backdrop { 
      display: none !important;
  }
  #myModalDiv {
      display: none !important;
  }
  .modal-dialog {
      display: none !important;
  }
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



ul li::marker {
  margin-left: 1rem;
  color: rgb(161 160 248);
}
.quantity input{
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.quantity select {
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.modtext{
  display: flex;
  height: 3rem;
  margin-top: 0.25rem;
}
.modtext a{
  background-color: #000;
  color: #fff!important;
  border-radius: 1rem;
}


.modal-body{
  font-size: 0.7em;
}
.imgcontainer{
  padding: 0;
}

@media (max-width: 768px) {
  .navbar-2-links {
    margin: 0;
  }
  .mobileicons{
    font-size: 1.3rem;
  }
  .iconsop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-link{
    margin: 0;
  }
  #ic {
    font-size: 24pt;
  }
  #tbr {
    display: none;
  }
  #logo {
    margin: auto;
  }
  i.fa.fa-user.usericon{
    display: none;
  }
  i.fa.fa-search.searchicon{
    display: block;
    margin-right: 0.25rem;
  }
  i.fa.fa-shopping-cart.shopping{
    margin-bottom: 0;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  i.fa.fa-heart{
    margin-left: 0.25rem;
  }
  .brand{
    margin-right: auto;
  }

  .navbar img {
    width: 80px;
    height: auto;
  }
    
}

@media screen and (min-width:769px) {
  i.fa.fa-user.usericon{
    display: block;
  }
  i.fa.fa-search.searchicon{
    display: none;
  }
  i.fa.fa-shopping-cart.shopping{
    margin-bottom: 0.85rem;
  }
  .navbar-2-links {
    margin-left: -30px!important;
  } 
  .brand{
    font-size: 1.2rem!important;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0!important;
    /* padding-left: 0!important; */
}

.navbar img {
  width: 100px;
  height: auto;
}

}

@media screen and (min-width:768px) and (max-width:992px) {
  .modal-body{
    font-size: 10px;
  }
  .modal-body img{
    width: 40px;
  }
  .modal-body .container{
    font-size: 10px!important;
  }
  .imgcontainer{
    padding: 0;
  }
  .wimgcontainer img{
    width:50px!important;
    height: auto!important;
  }
   
  .wcontent{
    font-size: 8px;
  }
  .modal-body{
    padding: 0;
  }
  .wmain{
    padding: 0;
  }
}

@media screen and (min-width:992px) {
  .imgcontainer .spimg{
    width: 60px
  }
  .imgcontainer .row{
    padding: 0!important;
  }
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .wimgcontainer img{
    width:100px!important;
    height: auto!important;
  }
   
  .wcontent{
    font-size: 10px;
  }
  
}


ul li a*{
font-family:'Playfair Display', serif;
}
 

  



 

 
/* -----------navbar css end--------------- */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



/* ------------------------ navbar section-------------- */
